<div class="card-item">
  <div class="card-item-image">
    <img src="{{serviceCard?.image}}" alt="">
  </div>

  <div class="card-item-title">
    {{serviceCard?.title}}
  </div>

  <div class="card-item-description">
    {{serviceCard?.description}}
  </div>

  <div class="card-item-actions">
    @if (!isArticleCard) {
      <div class="card-item-actions-price">
        {{serviceCard?.price}}
      </div>

      <button class="button card-item-actions-button">
        Подробнее
      </button>
    } @else {
      <a routerLink="" class="card-item-actions-continue">Читать дальше</a>
    }
  </div>
</div>
