@import "../../../../assets/styles/variables";

.card-item {
  width: 291px;
  height: 498px;
  position: relative;

  &.article-card-item {
    min-height: 571px;
  }

  .card-item-image {
    height: 291px;
    width: 291px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }

  .card-item-title {
    color: $main-blue-color;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 10px;
    max-height: 78px;
    overflow-y: auto;

    &.article-card-item-title {
      margin-bottom: 20px;
    }
  }

  .card-item-description {
    color: $main-dark-color;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 10px;
    height: 90px;

    &.article-card-item-description {
      height: 145px;
      overflow-y: auto;
      margin-bottom: 15px;
    }
  }

  .card-item-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.article-card-item-actions {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .card-item-actions-price {
      color: $main-blue-color;
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }

    .card-item-actions-button {
      width: 163px;
      padding: 15px 0;
      font-size: 16px;
      font-weight: 400;
    }

    .card-item-actions-continue {
      color: $main-blue-color;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-weight: 400;
      border-bottom: 1px solid $main-blue-color;
      line-height: 1;
    }
  }
}
