@import "../../../assets/styles/variables";

.main {
  .container {
    .main-slider {
      padding-bottom: 120px;

      .slide {
        height: 500px;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        &::after {
          display: block;
          content: "";
          width: 1405px;
          height: 1405px;
          background: rgb(185, 213, 253);
          border-radius: 50%;
          left: -702px;
          top: -702px;
          position: absolute;
          z-index: 1;
        }

        .text-block {
          padding-top: 100px;
          padding-bottom: 98px;
          padding-left: 65px;
          height: 100%;
          background-color: rgb(185, 213, 253);
          width: 584px;
          position: relative;
          z-index: 2;
          border-bottom-right-radius: 50%;

          .first-mini-title-slider {
            color: $main-blue-color;
            font-family: Montserrat, sans-serif;
            font-size: 12px;
            font-weight: 600;
          }

          .main-title-slider {
            font-family: Lora, sans-serif;
            font-size: 50px;
            font-weight: 400;
            line-height: 130%;
            margin-bottom: 20px;
            color: rgb(255, 255, 255);
            min-width: 610px;

            span {
              color: $main-blue-color;
            }
          }

          .second-mini-title-slider {
            margin-bottom: 30px;
            color: rgb(255, 255, 255);
            font-family: Montserrat, sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 130%;
          }

          .slide-button {
            padding: 15px 0;
            width: 163px;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 400;
            line-height: 130%;
          }
        }

        .image-block {
          position: relative;
          right: 94px;
          bottom: -2px;
          height: 100%;
          width: unset;

          img {
            width: unset;
            height: 100%;
          }
        }
      }

      .main-arrows {
        display: flex;

        a {
          position: absolute;
          top: 367px;
          z-index: 5;
          cursor: pointer;

          &.move-backward {
            left: 183px;
          }

          &.move-forward {
            right: 183px;
          }
        }
      }
    }

    .services {
      padding-bottom: 120px;

      .services-title {
        color: $main-blue-color;
        font-family: Lora, sans-serif;
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 40px;
      }

      .services-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 25px;
        row-gap: 25px;

      }
    }

    .advantages {
      padding-bottom: 120px;
      display: flex;
      align-items: center;

      .advantages-image {
        margin-right: 68px;
      }

      .advantages-content {
        .advantages-title {
          color: $main-blue-color;
          font-family: Lora, sans-serif;
          font-size: 38px;
          font-weight: 400;
          margin-bottom: 20px;
        }

        .advantages-description {
          color: rgb(30, 26, 43);
          font-family: Montserrat, sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 130%;
          margin-bottom: 40px;
          max-width: 633px;

          span {
            font-weight: 500;
          }
        }

        .advantages-items {
          .advantages-items-title {
            color: $main-blue-color;
            font-family: Lora, sans-serif;
            font-size: 26px;
            font-weight: 400;
            margin-bottom: 20px;
          }

          .advantages-items-content {
            display: flex;
            flex-wrap: wrap;
            column-gap: 71px;
            row-gap: 20px;

            .advantages-item {
              display: flex;
              align-items: center;
              width: 316px;

              .advantages-item-number {
                background-color: rgb(185, 213, 253);
                border-radius: 50%;
                min-width: 40px;
                height: 40px;
                text-align: center;
                margin-right: 20px;

                span {
                  color: $main-blue-color;
                  font-family: Lora, sans-serif;
                  font-size: 50px;
                  font-weight: 500;
                  position: relative;
                  top: -19px;
                }
              }

              .advantages-item-text {
                color: rgb(30, 26, 43);
                font-family: Montserrat, sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 130%;

                span {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }

    .popular-articles {
      padding-bottom: 120px;

      .popular-articles-title {
        color: $main-blue-color;
        font-family: Lora, sans-serif;
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 40px;
      }

      .popular-articles-items {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 25px;
        margin-bottom: 40px;
      }

      .go-blog {
        text-align: right;
        color: $main-blue-color;
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;

        span {
          position: relative;
          top: 2px;
          margin-left: 14px;
        }

      }
    }

    .reviews {
      padding-bottom: 120px;
      position: relative;

      .reviews-title {
        color: $main-blue-color;
        font-family: Lora, sans-serif;
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      .slide {
        width: 396px;
        display: block;
        margin-right: 26px;
        padding: 30px 30px 20px 30px;
        height: 267px;
        border: 2px solid $main-blue-color;
        border-radius: 5px;

        .review-user-info {
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          .review-user-info-image {
            margin-right: 26px;
          }

          .review-user-info-name {
            color: $main-blue-color;
            font-family: Montserrat, sans-serif;
            font-size: 18px;
            font-weight: 600;
          }
        }

        .review-text {
          color: $main-dark-color;
          font-family: Montserrat, sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          overflow-y: auto;
        }
      }

      .main-arrows {
        display: flex;

        a {
          position: absolute;
          top: 195px;
          z-index: 5;
          cursor: pointer;

          &.move-backward {
            left: -25px;
          }

          &.move-forward {
            right: -25px;
          }
        }
      }
    }

    .contact {
      padding-bottom: 120px;
      display: flex;
      gap: 26px;

      .contact-title {
        color: $main-blue-color;
        font-family: Lora, sans-serif;
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      .contact-items {
        row-gap: 20px;
        display: flex;
        flex-direction: column;

        .contact-item {
          .contact-item-title {
            color: $main-blue-color;
            font-family: Montserrat, sans-serif;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
          }

          .contact-item-description {
            max-width: 501px;
            color: $main-dark-color;
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 130%;
          }

          .contact-item-social-media {
            display: flex;
            column-gap: 20px;

            .contact-item-social-media-item {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.service-dialog {
  padding: 94px 153px 86px 152px;
  position: relative;
  min-width: 727px;
  border: 2px solid $main-blue-color;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;

  .dialog-title {
    color: $main-blue-color;
    font-family: Lora, sans-serif;
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 130%;
    max-width: 406px;
  }

  .service-dialog-description {
    margin-bottom: 40px;
    color: rgb(30, 26, 43);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .successful-request-button {
    padding: 10px;
    width: 73px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 500;
  }

  .dialog-form {
    display: flex;
    flex-direction: column;
    width: 422px;
    margin-bottom: 20px;
    gap: 5px;

    .input {
      outline: 0;
      width: 100%;
    }
  }

  .dialog-button {
    width: 422px;
    padding: 15px 0;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .dialog-close {
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: rgb(255, 255, 255);
    outline: 0;
    border: 0;
    cursor: pointer;
  }
}
