<div class="main">
  <div class="container">
    <section class="main-slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="text-block">
              <div class="mini-title">
                Предложение месяца
              </div>

              <div class="main-title">
                Продвижение в Instagram для вашего бизнеса <span>-15%</span>!
              </div>

              <div class="button slide-button">
                Подробнее
              </div>
            </div>

            <div class="image-block">
              <img src="/images/slider-image-1.png" alt="">
            </div>
          </div>

          <div class="swiper-slide">

          </div>

          <div class="swiper-slide">

          </div>
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <div class="swiper-scrollbar"></div>
      </div>
    </section>
  </div>
</div>
