@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container {
  flex: 1 0 auto;
}

.footer-content {
  flex: 0 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
}

a {
  text-decoration: none;
}

.button {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: $main-blue-color;
  color: rgb(255, 255, 255);
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}

.input {
  border: 2px solid $main-blue-color;
  color: $main-blue-color;
  padding: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;

  &::placeholder {
    color: rgb(168, 171, 167);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}

.mat-mdc-dialog-surface {
  overflow-y: unset !important;
}

.text-danger {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: red;
  margin-bottom: 5px;

  &.text-danger-last {
    margin-bottom: 10px;
  }
}

.main-slider {
  .owl-dots {
    display: flex;
    justify-content: center;
    gap: 7px;
    position: relative;
    top: -40px;

    .owl-dot {
      span {
        background: transparent;
        border: 2px solid rgb(255, 255, 255);
      }

      &.active {
        span {
          background: rgb(255, 255, 255);
        }
      }
    }
  }
}

.article {
  .article-first-column-text {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 130%;

    h1 {
      @include head-lora-38;
      margin-bottom: 40px;
      max-width: 607px;
    }

    p {
      color: $main-dark-color;
      font-size: 14px;
      margin-bottom: 40px;
      line-height: 130%;

      &:first-of-type {
        color: $main-blue-color;
        font-size: 20px;
        margin-bottom: 112px;
        max-width: 607px;
        min-height: 100px;
      }
    }

    h3 {
      color: $main-blue-color;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    ul {
      color: $main-dark-color;
      font-size: 14px;
      list-style-type: disc;
      margin-bottom: 20px;
    }
  }
}

.service-dialog {
  padding: 94px 153px 86px 152px;
  position: relative;
  min-width: 727px;
  border: 2px solid $main-blue-color;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;

  .dialog-title {
    @include head-lora-38;
    margin-bottom: 20px;
    line-height: 130%;
    max-width: 406px;
  }

  .service-dialog-description {
    margin-bottom: 40px;
    color: rgb(30, 26, 43);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .successful-request-button {
    padding: 10px;
    width: 73px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 500;
  }

  .dialog-form {
    display: flex;
    flex-direction: column;
    width: 422px;
    margin-bottom: 20px;
    gap: 5px;

    .input {
      outline: 0;
      width: 100%;
    }
  }

  .dialog-button {
    width: 422px;
    padding: 15px 0;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .dialog-close {
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: rgb(255, 255, 255);
    outline: 0;
    border: 0;
    cursor: pointer;
  }
}
